.header {
    height: 80px;
    width: 100%;
    display: flex;
    float: left;
   background:transparent;
   position: fixed;
   z-index: 1;
    
   
}

.logo{
    height: 70px;
    width: 70px;
  
    padding: 30px;
}

.cart{

}

.options{
    align-items: flex-end;
    
    padding: 30px;
   
}

.options__text{
    font-size: 19px;
    padding: 10px;
    text-decoration: none;
    color: black;

}
