.head{
    background: url('../images/download.svg') no-repeat fixed;
    background-size:cover ;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
    height: 50vh;
}

.bo{
    margin-top:6% ;
    
    width: 100%;
}

.store{
    height: auto;
    width: 100%;
    
}